# 데이터베이스 설정
DB_HOST=db
DB_NAME=korea_travel_db
DB_USER=myuser
DB_PASS=mypassword
DB_PORT=5432

# 외부 API 키
KAKAO_REST_API_KEY=your_kakao_rest_api_key_here
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# 한국 위치 범위 (위도/경도)
KOREA_LAT_MIN=33
KOREA_LAT_MAX=43
KOREA_LON_MIN=124
KOREA_LON_MAX=132
#====================================================================
# AI Model Engine: nllb (default), openai, ollama, gemma-cpu, gemma-gpu
AI_ENGINE=nllb

# [Gemma CPU] GGUF Model Path
GGUF_MODEL_PATH=./models/gemma-2-2b-it.Q4_K_M.gguf
#====================================================================
# Hugging Face Token
#====================================================================
# HF_TOKEN=your_huggingface_api_key_here
HF_MODEL=facebook/nllb-200-distilled-600M
