services:
  # 1. 데이터베이스 (PostgreSQL)
  db:
    image: pgvector/pgvector:pg16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    env_file:
      - .env

  # 2. 메인 백엔드 (Django)
  django:
    image: ${DOCKER_USERNAME}/korea-trip-be:latest
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

  # 3. AI 서버 (FastAPI)
  fastapi:
    image: ${DOCKER_USERNAME}/korea-trip-ai:latest
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8001:8000"
    depends_on:
      - db
    env_file:
      - .env

  # 3.5. AI 번역 서버 (FastAPI Translation Only)
  fastapi-ai-translation:
    image: ${DOCKER_USERNAME}/korea-trip-translation:latest
    command: uvicorn main:app --host 0.0.0.0 --port 8003 --reload
    ports:
      - "8003:8003"
    env_file:
      - .env

  # 4. 프론트엔드 (React + Nginx)
  frontend:
    image: ${DOCKER_USERNAME}/korea-trip-fe:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - django
      - fastapi

  # 5. 장소 검색 서버 (FastAPI Places)
  fastapi_places:
    image: ${DOCKER_USERNAME}/korea-trip-places:latest
    command: uvicorn main:app --host 0.0.0.0 --port 8002 --reload
    ports:
      - "8002:8002"
    depends_on:
      - db
      - django
    env_file:
      - .env

  # [1] 프로메테우스 (데이터 수집가)
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  # [2] 그라파나 (데이터 시각화)
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  postgres_data: