#====================================================================
# Hugging Face Token
#====================================================================
# HF_TOKEN=your_huggingface_api_key_here
HF_MODEL=facebook/nllb-200-distilled-600M