# Django Core
Django==6.0

# Django REST Framework
djangorestframework==3.16.1

# CORS Headers
django-cors-headers==4.9.0

# JWT Authentication
PyJWT==2.9.0

# Database
psycopg2-binary==2.9.11

# Utilities
python-dateutil==2.9.0
